@model IEnumerable<Rest>

<form>

<div class="row">
     @foreach (var rest in Model)
{
      <div class="col-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@($"{FileSetings.ImagesPath}/{rest.Image}")" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@rest.Name</h5>
                        <p class="card-text">@rest.Dscraption</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@rest.Id">More</a>
                    </div>
                </div>

            </div>
        </div>
     </div>

}
</div>

</form>
